
<form class="text-start form-reset">
    <h2 class="login_title text-dark">ĐẶT LẠI MẬT KHẨU</h2>
    <div class="Body_form mt-4">
        <input class="form_input input-password" id="curpassword" name="curpassword" rules="required|min:6" type="password" required>
        <label for="curpassword" class="form-label">Mật khẩu hiện tại</label>
        <div class="form-message"></div>
        <span class="icon-password"><ion-icon name="eye"></ion-icon></span>
    </div>
    <div class="Body_form mt-4">
        <input class="form_input input-password" id="newpassword" name="newpassword" rules="required|min:6" type="password" required>
        <label for="newpassword" class="form-label">Mật khẩu</label>
        <div class="form-message"></div>
        <span class="icon-password"><ion-icon name="eye"></ion-icon></span>
    </div>
    <div class="Body_form mt-4">
        <input class="form_input input-password" id="confirpassword" name="confirpassword" rules="required|min:6" type="password" required>
        <label for="confirpassword" class="form-label">Xác nhận mật khẩu</label>
        <div class="form-message"></div>
        <span class="icon-password"><ion-icon name="eye"></ion-icon></span>
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-custom btn-danger">Cập nhật tài khoản</button>
    </div>
</form>
@section css{
    <link rel="stylesheet" href="~/Content/Site.css" />
    <link rel="stylesheet" href="~/Content/Account.css" />
}
@section scripts{
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/Account.js"></script>
    <script>
        var form = new Validator('.form-reset')
        form.onSubmit = function (formData) {
            console.log(formData)
        }
    </script>
}


