
@{
    ViewData["Title"] = "Menu";

}
<main>
    @Html.Action("_PartialHeaderSub", "Parital")
    <nav id="navbar-tab-menu" class="navbar bg-body-tertiary mb-4 justify-content-sm-around border-bottom">
        <ul class="nav nav-pills  nav-tab-menu-list">
            <li class="nav-item nav-tab-menu-items">
                <a class="nav-link nav-tab-menu-link activer" href="#hot-deal">ƯU ĐÃI</a>
            </li>
            <li class="nav-item nav-tab-menu-items">
                <a class="nav-link nav-tab-menu-link" href="#new-product">MÓN MỚI</a>
            </li>
            <li class="nav-item nav-tab-menu-items">
                <a class="nav-link nav-tab-menu-link" href="#for-one">COMBO 1 NGƯỜI</a>
            </li>
            <li class="nav-item nav-tab-menu-items">
                <a class="nav-link nav-tab-menu-link" href="#sharing">COMBO NHÓM</a>
            </li>
            <li class="nav-item nav-tab-menu-items">
                <a class="nav-link nav-tab-menu-link" href="#fried-rosted-chicken">GÀ RÁN - GÀ QUAY</a>
            </li>
            <li class="nav-item nav-tab-menu-items">
                <a class="nav-link nav-tab-menu-link" href="#burger---rice">BURGER - CƠM - MÌ Ý</a>
            </li>
            <li class="nav-item nav-tab-menu-items">
                <a class="nav-link nav-tab-menu-link" href="#snack">THỨC ĂN NHẸ</a>
            </li>
            <li class="nav-item nav-tab-menu-items">
                <a class="nav-link nav-tab-menu-link" href="#dessert-and-drink">THỨC UỐNG & VÀ TRÁNG MIỆNG</a>
            </li>
        </ul>
    </nav>

    <div data-bs-spy="scroll" data-bs-target="#navbar-tab-menu" data-bs-smooth-scroll="true" class="scrollspy-example bg-body-tertiary p-3 rounded-2 container-xl content-tab-menu" tabindex="0">
        <h4 id="hot-deal">ƯU ĐÃI</h4>
        <div class="row gx-2">
            @for (var i = 0; i < 8; i++)
            {
                <div class="card card-menu col-3 px-1 mx-1 rounded-0 mt-2 mb-2" style="width: 270px;" data-bs-card="@i">
                    <div style="margin: 8px 4px 0; overflow: hidden;">
                        <img style="" src="https://static.kfcvietnam.com.vn/images/items/lg/Combo-86-tet.jpg?v=4aZoGg" class="card-img-top img-menu-item rounded-0" alt="...">
                    </div>
                    <div class="desc hide">
                        <p>2 Miếng Gà Rán + 1 Khoai Tây Múi Cau (vừa) + 1 lon Pepsi</p>
                    </div>
                    <span class="close-detail-menu">&#161;</span>
                    <div class="card-body card-body-menu">
                        <div class="d-flex justify-content-between mb-2" style="font-family: 'Roboto-Bold'; line-height: 22px; font-size: 18px; ">
                            <h5 class="card-title">Combo Sung Túc</h5>
                            <div class="price d-flex flex-column align-items-end ms-2">
                                <span>86.000đ</span>
                                <span class="text-decoration-line-through text-secondary">108.000đ</span>
                            </div>

                        </div>
                        <p style=" font-size: 14px; color: #202124;" class="card-text mb-3">2 Miếng Gà Rán + 1 Khoai Tây Múi Cau (vừa) + 1 lon Pepsi</p>
                        <a href="#" class="btn btn_dathang btn-dathang-menu">Thêm</a>
                    </div>
                </div>
            }
        </div>
        <h4 id="new-product">MÓN MỚI</h4>
        @for (var i = 0; i < 5; i++)
        {
            <p>Món mới</p>
        }
        <h4 id="for-one">COMBO 1 NGƯỜI</h4>
        @for (var i = 0; i < 5; i++)
        {
            <p>COMBO 1 NGƯỜI</p>
        }
        <h4 id="sharing">COMBO NHÓM</h4>
        @for (var i = 0; i < 5; i++)
        {
            <p>COMBO NHÓM</p>
        }
        <h4 id="fried-rosted-chicken">GÀ RÁN - GÀ QUAY</h4>
        @for (var i = 0; i < 5; i++)
        {
            <p>GÀ RÁN - GÀ QUAY</p>
        }
        <h4 id="burger---rice">BURGER - CƠM 0 MÌ Ý</h4>
        @for (var i = 0; i < 5; i++)
        {
            <p>BURGER - CƠM 0 MÌ Ý</p>
        }
        <h4 id="snack">THỨC ĂN NHẸ</h4>
        @for (var i = 0; i < 5; i++)
        {
            <p>THỨC ĂN NHẸ</p>
        }
        <h4 id="dessert-and-drink">THỨC UỐNG & TRÁNG MIỆNG</h4>
        @for (var i = 0; i < 5; i++)
        {
            <p>THỨC UỐNG & TRÁNG MIỆNG</p>
        }

    </div>
</main>
@section css{
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css">
    <link rel="stylesheet" type="text/css" href="~/Content/partialStyle.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Menu.css">
}
@section scripts{
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/Menu.js"></script>
    <script>
        $('.close-detail-menu').click(function () {
            var cardIndex = $(this).index('.close-detail-menu');

            var currentState = $(this).data('toggle-state') || 'closed';
            if (currentState === 'closed') {
                $(this).html('&#215;');
                currentState = 'open';
            } else {
                $(this).html('&#161;');
                currentState = 'closed';
            }
            $(this).data('toggle-state', currentState);

            var description = $('.desc').eq(cardIndex);
            description.toggleClass('hide');
            dđ
        });
    </script>
}